fair-esm==2.0.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1668919096861/work
pandas==2.2.2
scikit-learn==1.3.0
torch==1.11.0
torchensemble==0.2.0
torchtext==0.12.0
torchvision==0.12.0
tqdm==4.66.1
